/* ====== DROPDOWN STATUS ====== */
.p-dropdown.status-Ativo, 
.p-dropdown.status-Aberta {
    background-color: #d4edda; /* Verde claro */
    color: #155724; /* Texto verde escuro */
}

.dropdown-Ativo .p-dropdown,
.dropdown-Aberta .p-dropdown {
  background-color: #d4edda;
  color: #155724;
}

.dropdown-Em-Andamento .p-dropdown {
  background-color: #fff3cd;
  color: #856404;
}

.dropdown-Encerrada .p-dropdown {
  background-color: #727272;
  color: #000000;
}

/* .dropdown-Ativo .p-dropdown {
  background-color: #d4edda;
  color: #155724;
} */

.dropdown-Inativo .p-dropdown {
  background-color: #da2a2a1a;
  color: #ff0000;
}

.p-dropdown.status-Inativo {
  background-color: #da2a2a1a;
  color: #ff0000;
}

.p-dropdown-item.status-Inativo {
  background-color: #da2a2a1a;
  color: #ff0000;
}

.dropdown-Primeiro-Contato .p-dropdown {
  background-color: #0004ff2f;
  color: #0004ff;
}

.p-dropdown-item.status-Primeiro-Contato {
  background-color: #0004ff2f;
  color: #0004ff;
}

.dropdown-Cancelada .p-dropdown {
  background-color: #f8d7da;
  color: #721c24;
}

.dropdown-Aberta .p-dropdown-label,
.dropdown-Em-Andamento .p-dropdown-label,
.dropdown-Encerrada .p-dropdown-label,
.dropdown-Cancelada .p-dropdown-label {
  color: inherit;
}


/* .p-dropdown.status-Em-Andamento {
    background-color: #fff3cd;
    color: #856404;
} */

/* ====== TELA DE CONSULTAS E OPTIONS ABERTA ====== */

/* Status: Ativo */
.status-Ativo {
  background-color: #d4edda !important;
  color: #155724 !important;
  font-weight: bold !important;
  border-radius: 25px;
  padding: 7px;
}

/* Status: Inativo */
.status-Inativo {
  background-color: #f8d7da !important;
  color: #721c24 !important;
  font-weight: bold !important;
  border-radius: 25px;
  padding: 7px;
}

.status-Primeiro-Contato {
  background-color: #0004ff2f !important;
  color: #0004ff !important;
  font-weight: bold !important;
  border-radius: 25px;
  padding: 7px;
}

/* Estilos para a célula de status */

/* Status: Aberta */
.status-Aberta {
  background-color: #d4edda !important; /* Verde claro */
  color: #155724 !important; /* Texto verde escuro */
  font-weight: bold !important; /* Destaque opcional */
  border-radius: 25px; /* Opcional: bordas arredondadas */
  padding: 7px; /* Opcional: espaço interno */
}

/* Status: Em Andamento */
.status-Em-Andamento {
  background-color: #fff3cd !important; /* Amarelo claro */
  color: #856404 !important; /* Texto amarelo escuro */
  font-weight: bold !important;
  border-radius: 25px;
  padding: 7px;
}

/* Status: Encerrada */
.status-Encerrada {
  background-color: #727272 !important;
  color: #000000 !important;
  font-weight: bold !important;
  border-radius: 25px;
  padding: 7px;
}

/* Status: Cancelada */
.status-Cancelada {
  background-color: #f8d7da !important;
  color: #721c24 !important;
  font-weight: bold !important;
  border-radius: 25px;
  padding: 7px;
}

/* Ajustes para alinhar o texto no centro */
.status-Ativo, .status-Inativo, .status-Primeiro-Contato, .status-Aberta, .status-Em-Andamento, .status-Encerrada, .status-Cancelada {
  display: inline-block;
  text-align: center;
  min-width: 100%;
}

/* .p-dropdown.status-Fechada {
    background-color: #f8d7da;
    color: #721c24;
} */

/* ====== LISTA SUSPENSA (DROPDOWN OPTIONS) ====== */
/* .p-dropdown-item.status-Ativo, 
.p-dropdown-item.status-Aberta {
    background-color: #d4edda; 
    color: #155724; 
} */
 
/* .p-dropdown-item.status-Em-Andamento {
    background-color: #fff3cd; 
    color: #856404; 
} */

/* .p-dropdown-item.status-Primeiro-Contato {
    background-color: #0004ff2f;
    color: #0004ff;
} */

/* .p-dropdown-item.status-Fechada {
    background-color: #f8d7da;
    color: #721c24;
} */

/* Efeito de hover nas opções */
.p-dropdown-item:hover {
    filter: brightness(0.9); 
}

/* Estilo do texto no valor selecionado */
.p-dropdown-label {
    color: inherit;
}

/* ====== TAMANHO PERSONALIZADO DO DROPDOWN ====== */
.custom-dropdown-height .p-dropdown {
    height: 2rem; 
    font-size: 0.875rem; 
}

.custom-dropdown-height .p-dropdown-label {
    line-height: 0.45rem; 
}

.custom-dropdown-height.editable-dropdown .p-dropdown {
    height: 2rem; 
    font-size: 0.875rem; 
}

.custom-dropdown-height.editable-dropdown .p-inputtext {
    height: 2.39rem; 
    font-size: 0.990rem; 
    line-height: 1.2rem; 
}

.custom-select select option.aberta {
  background-color: #3273dc; /* Azul */
  color: white;
}

/* ====== AUTOCOMPLETE ====== */
.p-autocomplete, .p-autocomplete input {
    width: 100% !important;
}

.custom-autocomplete-height .p-autocomplete {
    height: 2rem; 
    font-size: 0.875rem; 
}

.custom-autocomplete-height .p-autocomplete-input {
    height: 3rem; 
    font-size: 0.990rem; 
    line-height: 1.2rem; 
    padding: 0.25rem 0.5rem; 
}

/* ====== UPLOAD DE ARQUIVOS ====== */
.file-upload-container {
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    padding: 10px;
    width: auto;
    border-radius: 5px;
}

.upload-actions {
    display: flex;
    gap: 10px;
    align-items: center;
}

.choose-button, .upload-button, .cancel-button, .show-button {
    background-color: #4e73df;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.show-button {
    background-color: #00d9ff;
}

.cancel-button {
    background-color: #dc3545;
}

.file-list {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding-top: 10px;
}

.file-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 0;
}

.thumbnail {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.file-info {
    flex-grow: 1;
}

.status {
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 4px;
}

.status.pending {
    background-color: #ffc107;
    color: black;
}

.status.uploaded {
    background-color: #28a745;
    color: white;
}

.remove-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

/* Ajuste de espaçamento para a paginação */
.pagination {
  margin-top: 20px; /* Adiciona espaçamento acima da paginação */
  display: flex;
  justify-content: center; /* Centraliza a paginação */
  gap: 10px; /* Espaço entre os botões */
}

.p-paginator .p-paginator-page {
  border-radius: 50%; /* Bordas arredondadas */
  border: 2px solid transparent; /* Borda transparente para não interferir inicialmente */
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.p-paginator .p-paginator-page.p-highlight {
  border-color: #007bff; /* Cor azul quando o número estiver ativo */
  color: #fff; /* Texto branco quando ativo */
  background-color: #007bff; /* Fundo azul para o número ativo */
}

.p-paginator .p-paginator-page:hover {
  background-color: #e6f1ff; /* Cor suave no hover */
  border-color: #007bff; /* Borda azul no hover */
}

/* LINHAS DUPLICADAS*/

.linha-duplicada {
  background-color: #ffcccc !important; /* Vermelho claro para todas duplicadas */
  color: #c62828; /* Texto em vermelho mais forte */
  font-weight: bold; /* Destacar ainda mais o texto */
}

.linha-nao-salva {
  background-color: #ff0000 !important; /* Vermelho mais forte para as não salvas */
  font-weight: bold; /* Destacar ainda mais o texto */
}

.linha-duplicada:hover {
  background-color: #ffcdd2; /* Um tom mais forte ao passar o mouse */
}
